/*common.css*/
@font-face {font-family: "iconfont";
  src: url('font/iconfont.eot?t=1480992316371'); /* IE9*/
  src: url('font/iconfont.eot?t=1480992316371#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/iconfont.woff?t=1480992316371') format('woff'), /* chrome, firefox */
  url('font/iconfont.ttf?t=1480992316371') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('font/iconfont.svg?t=1480992316371#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-video:before { content: "\e737"; }
.icon-pause:before { content: "\e600"; }
.icon-search:before { content: "\e674"; }
.icon-live:before { content: "\e706"; }
.icon-font:before { content: "\e63f"; }
.icon-close:before { content: "\e604"; }
.icon-video-play:before { content: "\e60e"; }
.icon-laud:before { content: "\e65d"; }
.icon-pic:before { content: "\e66a"; }
.icon-live-play:before { content: "\e659"; }
.icon-home:before { content: "\e629"; }
.icon-top:before { content: "\e61d"; }
.icon-play:before { content: "\e62e"; }
.icon-audio:before { content: "\e68f"; }
.icon-more:before { content: "\e63c"; }
.icon-text:before { content: "\e842"; }