/*grid-layout*/
.row{display:block;}
.row::after,.row::after {clear: both;content: "";display: block;height: 0;visibility: hidden;outline:0 solid #ccc;line-height:0;}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{float: left; position: relative;}

.col-1{width:8.333333%;}
.col-2{width:16.666666%;}
.col-3{width:25%;}
.col-4{width:33.333333%;}
.col-5{width:41.666666%;}
.col-6{width:50%;}
.col-7{width:58.333333%;}
.col-8{width:66.666666%;}
.col-9{width:75%;}
.col-10{width:83.333333%;}
.col-11{width:91.666666%;}
.col-12{width:100%;}

.col-offset-1{margin-left:8.333333%;}
.col-offset-2{margin-left:16.666666%;}
.col-offset-3{margin-left:25%;}
.col-offset-4{margin-left:33.333333%;}
.col-offset-5{margin-left:41.666666%;}
.col-offset-6{margin-left:50%;}
.col-offset-7{margin-left:58.333333%;}
.col-offset-8{margin-left:66.666666%;}
.col-offset-9{margin-left:75%;}
.col-offset-10{margin-left:83.333333%;}
.col-offset-11{margin-left:91.666666%;}

.col-push-1{left:8.333333%;}
.col-push-2{left:16.666666%;}
.col-push-3{left:25%;}
.col-push-4{left:33.333333%;}
.col-push-5{left:41.666666%;}
.col-push-6{left:50%;}
.col-push-7{left:58.333333%;}
.col-push-8{left:66.666666%;}
.col-push-9{left:75%;}
.col-push-10{left:83.333333%;}
.col-push-11{left:91.666666%;}

.col-pull-1{right:8.333333%;}
.col-pull-2{right:16.666666%;}
.col-pull-3{right:25%;}
.col-pull-4{right:33.333333%;}
.col-pull-5{right:41.666666%;}
.col-pull-6{right:50%;}
.col-pull-7{right:58.333333%;}
.col-pull-8{right:66.666666%;}
.col-pull-9{right:75%;}
.col-pull-10{right:83.333333%;}
.col-pull-11{right:91.666666%;}
.cell{padding:10px;}

.flex-img{display:block;width:auto;overflow:hidden;}
.flex-img > img{display:block;width:100%;min-height: 56.25%;text-indent:-10000px;background: #eee;}
.grid-photo-3-1{border-bottom:2px solid #fff;border-right:2px solid #fff;margin-top:-2px;margin-left:-2px;}
.grid-photo-3-2{border-left:2px solid #fff;}
.grid-photo-3-3{border-top:2px solid #fff;border-right:2px solid #fff;margin-bottom:-2px;margin-left:-2px;}
.grid-photo-2-1{border-right:2px solid #fff;margin-left:-2px;}
.grid-photo-2-2{border-left:2px solid #fff;margin-right:-2px;}

.pd-lf-md{
    padding-left: 0.5rem;
}
.pd-rt-md{
    padding-right: 0.5rem;
}
.pd-tp-md{
    padding-top:0.5rem;
}
.pd-bt-md{
    padding-bottom:0.5rem;
}
.pd-tp-sm{
    padding-top:0.5rem;
}

.pt-rt{
    position:relative;
}
.pt-ab{
    position:absolute;
}
body .flex-img > img {height: 56.25%;min-height:auto;}
body .swiper-slide { height: 56vw}
body .swiper-slide .flex-img > img,
body .row .flex-img > img { height: 56vw}
body .row .col-4 .flex-img > img { height:18.75vw}
body .row .col-8 .flex-img > img { height:37.3vw}
body .thumbnail-list .col-6 .flex-img > img { height:28vw}