.article.bo-box{margin-top: 0;}
.bo-top10{margin-top: 10px;}
.title{line-height: 1.5em;width: 85%;display: block;}
.msg{margin-top: 10px;}
.msg span{
    color: #acacac;
    display: inline-block;
    height: 35px;
    float: left;
    line-height: 35px;
    margin-right: 10px;
}
.audio{
    display: inline-block;
    color: #0000ff;
    height: 35px;
    float: right;
    width: 30px;
    line-height: 35px;
    font-size: 1.25rem;
    text-align: center;
}
.text{color: #656a71;font-size: 1.25rem;}
.text p{
    line-height: 1.5em;
    margin: 0.6em 0;
}
.bo-like{
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 56px;
}
/*original page*/
.bo-original .audio{color: #3f72eb;}
.img-title{
    width: 128px;
    height: 19px;
    background: url("../imgs/bg-original1.png")no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}
.author-box{height: 60px;margin-top: 10px;}
.author-box .author-head{
    width: 60px;
    height: 100%;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    float: left;
}
.author-box .author-msg{
    width: 70%;
    height: 100%;
    display: inline-block;
    float: right;
    line-height: 30px;
}
.bo-abstract{
    padding-left: 10px;
    margin-top: 10px;
    border-left:3px solid #ededed;
    color: #3f72eb;
    line-height: 1.5em;
}