/*.overview-page{
}
.thumbnail{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	font-weight: bold;
	color:#fff;
}
.thumbnail-img img{
	display: block;
	width:100%;
}
.thumbnail-caption{
	position: absolute; 
	left:0;
	right:0;
	bottom:0;
	padding:15px;
	font-size: 14px;
}
.thumbnail-num{
	position: absolute;
	top:0;
	right: 0;
	margin-top:5px;
	margin-right:5px;
	padding: 0.5em 0.3em;
	background: #33333399;
	border-radius: 5px;
	font-size: 12px;
}
.thumbnail-title{
	font-size:16px;
	text-shadow: 0 0 1px #333;
} 
.thumbnail-title .icon {
	padding-right:0.5em;
	font-size: 20px;
	color: #c00;
}*/