@charset "UTF-8";
html,body,.code-box,.result-box{height: 100%;overflow: hidden;}
.code-box{position: relative;width: 52%;}
.box-top{width: 100%;height: 4%;}
.box-body{
    width: 100%;
    height: 90%;
    padding: 1% 0;
    background-color: #2F4F4F;
}
.box-bottom{
    position: absolute;
    bottom: 0;
    height: 4%;
    width: 100%;
}
.box-input{
    margin-top: 0;
    border: none;
    width: 96%;
    height: 100%;
    color: #ccc0b3;
    font-family: "Inconsolata", "Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.5em;
    word-break:break-all;
    overflow-y: auto;
	outline: none;
}
.submit{
    height: 30px;
    width: 120px;
    line-height: 30px;
    text-align: center;
    background-color: #00b33b;
    color: #fff;
    cursor: pointer;
}
.result-box{
    width: 48%;
}
.result{
    background-color: #ffffff;
    overflow-y: auto;
}
